<%- include("./partials/nav.ejs") %>

<main>
    <h1>Welcome to the dashboard, <%= user.username %></h1>
    <script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-af7b5482-59f3-4d27-9cce-ad2b32f8c85e" data-elfsight-app-lazy></div>

</main>
</body>
</html>
