<%- include("./partials/nav.ejs") %>
<title>Home</title>

    <% if (user) { %>
    <h1><strong><%= user.username.toUpperCase() %> </strong> Welcome to PhotographyRS</h1>
    <script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-af7b5482-59f3-4d27-9cce-ad2b32f8c85e" data-elfsight-app-lazy></div>
    <% } else { %>
        <p>Please Sign In</p>
    <% } %>
</main>
</body>
</html>
