<%- include('./partials/nav') %>

<h1>Book Your Photography Session</h1>

<form action="/booking" method="POST">
<label>Name:</label> 
<input type="text" name="name" required/>
<br/>
<label>Email:</label>
<input type="email" name="email" required/>
<br/>
<label>Phone</label>
<input type="tel" name="phoneNumber" required minlength="8" maxlength="8"/>
<br/>
<label>Date</label> 
<input type="date" name="date" required/>
<br/>
<label>Package: </label>
<select name="package">
    <option value="Weeding Photography">Wedding Photography Only </option>
    <option value="Photography & Videography">Wedding Photography & Videography </option>

</select>
<br/>

<button class="submit" type="submit">Book</button>
</form>
</body>
</html>