<%- include("./partials/nav.ejs") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>FAQ</h1>
    <form action="/questions/" method="POST">
        <textarea name="text" rows="4" required maxlength="150"></textarea>
        <h2>Questions from Users! ADD THE USER NAME HERE</h2>
        <%allQuestions.forEach((item)=>{%>
        <p><%= item.text %></p>
        <p><%= item.author %></p>

        <%})%>


        <button type="submit">Ask a Question!</button>

    </form>
</body>
</html>