<%- include("./partials/nav.ejs") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>This is a specific question page!</h1>
</body>
</html>