<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>FAQ</h1>
    <form action="/questions/<%#= allQuestions._id %>" method="POST">
        <textarea name="text" rows="4" required></textarea>
        <h2>Questions from Users! </h2>
    

        <button type="submit">Ask a Question!</button>

    </form>
</body>
</html>