<%- include("./partials/nav.ejs") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>FAQ</h1>
    <form action="/questions/" method="POST">
        <textarea name="text" rows="4" required maxlength="150"></textarea>
        <h2>Questions from Users! ADD THE USER NAME HERE</h2>
        <%allQuestions.forEach((item)=>{%>
        <p><%= item.text %></p>
        <p><%= item.author %></p>

        <%})%>


        <button type="submit">Ask a Question!</button>

    </form>

    <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
    

    
</body>
</html>